<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{all_users}}
    <h1>User index page</h1>
    {% for user in all_users %}
    <p>{{user.first_name}} {{user.last_name}}</p>
    {% endfor %}
    <form action="/zappos/users/create" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="submit">
    </form>
</body>
</html>